.ContactPage__yellow-box {
  background-color: #afc0ec;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 45vw;
  max-width: 500px;
  margin: 0 auto;
}

.ContactPage__yellow-box form {
  display: flex;
  flex-direction: column;
}

.ContactPage__yellow-box label {
  margin-bottom: 5px;
}

.ContactPage__yellow-box input,
.ContactPage__yellow-box textarea {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ContactPage__yellow-box button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.ContactPage__yellow-box button:hover {
  background-color: darkblue;
}

.ContactPage__masthead {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: auto !important;
}

.ContactPage__container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
