/* Styling for the background container */
.background-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

/* Styling for the doctor image */
.doctor-image {
  position: absolute;
  bottom: 10%;  /* Position the image 10% from the bottom */
  left: 20%;    /* Position the image 20% from the left */
  width: auto;  /* Keep the image's original aspect ratio */
  max-width: 50%; /* Adjust the size as needed, max-width controls scaling */
  height: auto;
  z-index: 1;  /* Ensure the image is behind the content but in front of the background */
}

/* Styling for the content that overlays the background */
/*.content {
  position: relative;
  z-index: 2; /* Ensure the content is in front of the image 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white; /* Text color 
}*/

/* ServicePage.css */
.Green {
    position: relative;
    background: transparent;
    z-index: 2;
    overflow: hidden; /* Ensures no overflow of the blurred background */
  }
  

  
  .background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2; 
  }
  .blurry-box {
    position: relative;
    z-index: 2; /* Place the box above the blurry background */
    background: rgba(0, 0, 0, 0.356); /* Black-ish background with some opacity */
    padding: 20px;
    border-radius: 20px; /* Make the box rounder by increasing the border-radius */
  }
  
  .blurry-box ul {
    list-style-type: none; /* Remove bullet points */
  }
  
  .blurry-box h4 {
    margin-bottom: 5px; /* Add some spacing below each heading */
    font-weight: bold; /* Make the headings bold */
  }
  
  .blurry-box p {
    font-weight: normal; /* Make the paragraphs normal weight */
  }
  
  .ServicePage .display-3 {
    font-size: 4.5rem;
    line-height: 1.2;
  }
  
  .ServicePage .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .text-white {
    color: rgba(255, 255, 255, 0.785); /* Set text color to white */
  }
  