@font-face {
  font-family: 'Zain-Bold';
  src: url('../../../assets/Zain/Zain-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Grotesk';
  src: url('../../../assets/overused-grotesk-font-family-1725512761-0/OverusedGrotesk-Light-BF64eeac18175cf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ATC';
  src: url('../../../assets/ATCArquette-SemiboldItalic.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerif4-SemiBoldItalic';
  src: url('../../../assets/SourceSerif4-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.welcome {
  font-family: 'OverusedGrotesk-Light', sans-serif;
  font-size: 220%;
  color: rgb(13, 114, 70);
  position: absolute; /* Keep absolute */
  top: 13%; /* Center vertically */
  left: 3%; /* Center horizontally */
  /*transform: translate(-50%, -50%); /* Adjust to center the text */
  z-index: 10; /* Ensure it stays on top */
}
.healthcare{
  margin-top:3%;
  font-family: 'ATC', sans-serif;
  font-size: 275%;
  width:55%;
  color: black;
  position: absolute; /* Keep absolute */
  top: 16%; /* Center vertically */
  left: 3%; /* Center horizontally */
 /* transform: translate(-50%, -50%); */
  z-index: 10; /* Ensure it stays on top */}

.challenge{
  margin-top:3%;
  width:50%;
  font-family: 'Grotesk', sans-serif;
  font-size: 120%;
  color: rgb(44, 149, 74);
  position: absolute; /* Keep absolute */
  top: 45%; /* Center vertically */
  left: 3%; /* Center horizontally */
  /*transform: translate(-50%, -50%); */
  z-index: 10; /* Ensure it stays on top */
}

.masthead {
  height: 100vh;
  width: 100vw;
  position: relative;
  /*background: transparent;*/
  z-index: 2;
  /* Remove overflow: hidden */
  overflow: visible; /* or remove this line */
}

.background-container {
  background-color: #cfe7f1; /* Your desired background color */
  position: relative; /* Allows positioning of the doctor image */
  width: 100%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  display: flex;
  align-items: center; /* Vertically centers the image */
  justify-content: center; /* Horizontally centers the image */
}



.background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; 
}

.masthead .display-3 {
  font-size: 4.5rem;
  line-height: 1.2;
}

.masthead .lead {
  font-size: 1.25rem;
  font-weight: 300;
}