.masthead {
  position: relative;
  background: transparent;
  z-index: 2;
  overflow: hidden; 
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -2; 
}

.background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; 
}

.masthead .display-3 {
  font-size: 4.5rem;
  line-height: 1.2;
}

.masthead .lead {
  font-size: 1.25rem;
  font-weight: 300;
}