.backgroundlong-container 
{background-color: #cfe7f1;
    position: relative;
    width: 100%;
    min-height: 120vh; /* Ensure the container takes at least full viewport height */
    overflow: hidden; /* Allow scrolling if content overflows */
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    padding: 60px 0; /* Add padding to prevent content from sticking to edges */
    box-sizing: border-box; /* Includes padding in height calculation */
    flex-direction: column; /* Ensures that multiple children are stacked vertically */
}


.doctor-imagelong {
    position: absolute;
    bottom: 0%;  /* Position the image at the bottom */
    left: 45%;   /* Adjust left position as needed */
    width: auto;
    max-width: 56%; /* Adjust size as needed */
    height: auto;
    z-index: 1;  /* Behind the content */
}

.contentlong {
    position: relative;
    z-index: 2; /* Ensure the content is in front of the image */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
