/* ServicePage.css */
.ServicePage {
    position: relative;
    background: transparent;
    z-index: 2;
    overflow: hidden; /* Ensures no overflow of the blurred background */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1; 
  }
  
  .background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2; 
  }
  .blurry-box {
    position: relative;
    z-index: 1; /* Place the box above the blurry background */
    background: rgba(0, 0, 0, 0.356); /* Black-ish background with some opacity */
    padding: 20px;
    border-radius: 20px; /* Make the box rounder by increasing the border-radius */
  }
  
  .blurry-box ul {
    list-style-type: none; /* Remove bullet points */
  }
  
  .blurry-box h4 {
    margin-bottom: 5px; /* Add some spacing below each heading */
    font-weight: bold; /* Make the headings bold */
  }
  
  .blurry-box p {
    font-weight: normal; /* Make the paragraphs normal weight */
  }
  
  .ServicePage .display-3 {
    font-size: 4.5rem;
    line-height: 1.2;
  }
  
  .ServicePage .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .text-white {
    color: rgba(255, 255, 255, 0.785); /* Set text color to white */
  }
  