/* ServicePage.css */
.ServicePage {
    position: relative;
    background: transparent;
    z-index: 2;
    overflow: hidden; /* Ensures no overflow of the blurred background */
  }
  
  

  .blurry-box {
    position: relative;
    z-index: 1; /* Place the box above the blurry background */
    background: rgba(0, 0, 0, 0.356); /* Black-ish background with some opacity */
    padding: 20px;
    border-radius: 20px; /* Make the box rounder by increasing the border-radius */
  }
  .ser-masthead {
    margin-top: 5%;
    margin-bottom: 8%;
    width: 80vw;
    height: 150vh;
    align-items: center; 
    justify-content: center; 
    flex: 0 1 auto; 
    margin-left: auto;
  margin-right: auto;
  }
  .blurry-box ul {
    list-style-type: none; /* Remove bullet points */
  }
  
  .blurry-box h4 {
    margin-bottom: 5px; /* Add some spacing below each heading */
    font-weight: bold; /* Make the headings bold */
  }
  
  .blurry-box p {
    font-weight: normal; /* Make the paragraphs normal weight */
  }
  
  .ServicePage .display-3 {
    font-size: 4.5rem;
    line-height: 1.2;
  }
  
  .ServicePage .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .text-white {
    color: rgba(255, 255, 255, 0.785); /* Set text color to white */
  }
  