body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

.register-form {
    background-color: #afc0ec;
    padding: 20px;
    margin: auto;
    width: 725px;
    box-shadow: 0 0 10px rgba(157, 196, 19, 0.1);
}

h2 {
    text-align: center;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #31383e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 57%; 
    position: absolute; 
    
    right: 40px; 
    top: 40px; 
}
#photo{

   
    color: black;
    border: none;
    cursor: pointer;
    

}
.masthead {
    position: relative;
    background: transparent;
    z-index: 2;
    overflow: hidden; 
  }
  


  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white; /* Text color */
  }
  
  
  
  .background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; 
  }
  
  .masthead .display-3 {
    font-size: 4.5rem;
    line-height: 1.2;
  }
  
  .masthead .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .ContactPage__yellow-box {
    background-color: #afc0ec;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 45vw;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .ContactPage__yellow-box form {
    display: flex;
    flex-direction: column;
  }
  
  .ContactPage__yellow-box label {
    margin-bottom: 5px;
  }
  
  .ContactPage__yellow-box input,
  .ContactPage__yellow-box textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .ContactPage__yellow-box button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ContactPage__yellow-box button:hover {
    background-color: darkblue;
  }
  
  .ContactPage__masthead {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: auto !important;
  }
  
  .ContactPage__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  