
.navbar {
  padding-top: 10px !important;  /* Add some padding for spacing */
  padding-bottom: 10px;  /* Optional for bottom padding */
  position: relative;    /* Ensure it stays properly positioned */
}
.logo {
  width: 21.5vw;
  margin-top: 10px;
  margin-right: 20px;
}
.navBarStyle{
  margin-top: 200px;
}
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
}
.nav-link {
  white-space: nowrap; /* Prevent text wrapping */
  padding-left: 15px;  /* Adjust padding for consistent spacing */
  padding-right: 15px;
  font-size: 21.6px;
  font-weight: 400;
  line-height: 32.4px;
}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures logo and nav items are well spaced */
  align-items: center;
  width: 100%;
}

/* Style adjustments for sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  background-color: rgb(175, 236, 199,0.75);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  padding: 15px 0;
}

.sidebar-links a {
  color: #000;
  text-decoration: none;
  font-size: 21.6px;
  font-weight: 400;
  line-height: 32.4px;
  font-family: 'Amiri', serif;
}

.sidebar-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Dropdown in sidebar */
.dropdown-content {
  display: none;
  background-color:rgb(175, 236, 199,0.5);
  padding: 10px 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown:click .dropdown-content {
  display: block;
}
/* Responsive styling */
@media (max-width: 800px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .mobile-sidebar {
    display: flex;
  }
  .logo {
    width: 10vw;
  }
}
  
  .custom-dropdown .dropdown-toggle {

    padding: 10px 15px;
    font-family: 'Amiri', serif;
    margin-top: -50px;
    font-size: 21.6px;
    font-weight: 400;
    line-height: 32.4px 
  }
  

  /* customStyles.css */

.custom-dropdown .dropdown-menu {
  background-color: transparent;
  border: none;
  font-size: 21.6px;
    font-weight: 400;
    line-height: 32.4px 
}

.custom-dropdown .dropdown-item {
  color: #000;
  font-size: 1.2em; /* Match this with linkStyle */
  padding: 10px 15px; /* Match this with linkStyle */
  font-family: 'Amiri', serif; /* Match this with linkStyle */
  font-size: 21.6px !important;
    font-weight: 400;
    line-height: 32.4px 
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 21.6px;
    font-weight: 400;
    line-height: 32.4px 
}
