.login-container {
 
  max-width: 400px;
  margin: 100px auto;
  width: 390px;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #afc0ec;
  position: relative; 

}
.masthead {
  height: 100vh;
  align-items: center; 
  justify-content: center; 
  flex: 0 1 auto; 
}

/* Apply RTL direction and right alignment only to elements with the .rtl-text class */
.rtl-text {
  direction: rtl;
  text-align: right;
}

.login-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}


.input
 {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #31383e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.RegisterForm {
  width: 100%;
  padding: 10px;
  background-color: #31383e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1; 
}

.background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2; 
}

.Connection_Username
{
color: #fff;

}